<!-- index.html -->
<!DOCTYPE html>
<html ng-app="RateMyself">
<head>

    <!-- CSS ===================== -->
    <!-- load bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <style>
    body    { padding-top:30px; }
    </style>

    <!-- JS ===================== -->
    <!-- load angular -->


</head>

<!-- apply angular app and controller to our body -->
<body ng-controller="registerController">

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">

            <!-- PAGE HEADER -->
            <div class="page-header"><h1>AngularJS Form Validation</h1></div>

            <!-- FORM -->
            <!-- pass in the variable if our form is valid or invalid -->
            <form ng-submit="register()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

                <!-- NAME -->
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="name" required>
                </div>

                <!-- USERNAME -->
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" ng-model="email" ng-minlength="3" ng-maxlength="8">
                </div>

                <!-- EMAIL -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="email" name="password" class="form-control" ng-model="password">
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" ng-submit="register()" class="btn btn-primary">Submit</button>

            </form>

        </div><!-- col-sm-8 -->
    </div><!-- /container -->
</body>
</html>
