
<!DOCTYPE html>
<html ng-app="ratemyself">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="controllers/articles.js"></script>
    </head>

    <body>
        <div ng-controller="articlesController" ng-init="reload">
            <table>
                
            </table>
        </div>
    </body>
</html>
