
<!DOCTYPE html>
<html ng-app='ratemyself'>
    <head>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style>
        body    { padding-top:30px; }
        </style>
        <title>
            Registration
        </title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="controllers/register.js"></script>

    </head>
    <body>

        <div class="container" ng-controller='registerController'>
            <div class="col-sm-8 col-sm-offset-2">

                <h3>Registration</h3>

                <form>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" ng-model="user.name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="user.password">
                    </div>

                    <div class="form-group">
                         <input type="password" class="form-control" placeholder="Confirm Password" name="password2" ng-model="user.password2">
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="register(user.name, user.email, user.password)">Register</button>

                </form>

            </div><!-- col-sm-8 -->
        </div><!-- /container -->
    </body>

</html>
