
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">

                <h3>Registration</h3>

                <form>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="user.name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="user.email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="user.password">
                    </div>

                    <div class="form-group">
                         <input type="password" class="form-control" placeholder="Confirm Password" name="user.password2">
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="register(user)">Register</button>

                </form>

            </div><!-- col-sm-8 -->
        </div><!-- /container -->
        
